<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Files | Share with loved ones</title>

    <link rel="stylesheet" href="static/css/main.css">

    <script src="static/js/main.js"></script>


</head>
<body>
    <header style="text-align: center;background-color:aqua">
        Share Files
    </header>

    <main>
        
        <section>
            <div>
                <div class="option">
                    <button onclick="sendOption();">
                        Send
                    </button>
                </div>
                <div class="option">
                    <button onclick="receiveOption();">
                        Receive
                    </button>
                </div>
            </div>
    
        </section>

        <section>
            <div id="send-layout">
                    Sending
            </div>
            <!-- style="display: none;" -->
            <div id="receive-layout" >

                Receiving
            </div>

        </section>
        
    </main>
    
</body>
</html>